// Variables

$background-white: #f5f8f8;
$background-gray: #60626c;
$background-light-gray: #9698a2;
$background-blue: #dde9e7;
$background-bluish-gray: #677379;

$opaque-white: #ffffffa4;
$nav-background-color: #dde9e7ca;
$nav-light-background-color: #f5f8f8d0;

$text-dark: #2f3638;
$text-medium: #3b4244;
$button-text-white: #f0f1f1;

/* base reset so that I can set the padding and margins*/
/* Generally, I'll make padding- 10px 15px and margin - 20px */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Setting the base properties for the entire page */
html,
body {
  color: $text-dark;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box; /* box-sizing so that everything will contain its internal elements*/
  scroll-behavior: smooth; /*This will make it so when you click on a link, 
        it will scroll to that spot rather than jump*/
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  color: $text-dark;
}

// --------------------------------------------
// NAVBAR

nav {
  font-family: Merriweather, serif;
  margin: 0;
  padding: 1.5rem 1rem;

  font-weight: 600;
  font-size: 1rem;

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 500; /*This makes sure that the nav is always visible on top of any other element*/
}

// Smallest sizes load first
nav {
  a {
    text-decoration: none;
    color: $text-dark;
    cursor: pointer;
  }
}
#left-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div {
    background-color: $nav-background-color;
    padding: 0.3rem 0.8rem;
    border-radius: 4px;
  }
}
.fas {
  color: $text-dark;
}
#dropdown-button {
  background-color: $nav-background-color;
  color: $text-dark;
  font-size: 1.5rem;
  align-self: flex-end;
  margin: 0;
  padding: 0.3rem 0.6rem;

  border: none;
  border-radius: 4px;
  display: inline-block;
  // display: none;
  &:hover {
    cursor: pointer;
    background-color: $nav-background-color;
  }
}

#right-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: none;
  align-items: flex-end;
  div {
    background-color: $nav-background-color;
    text-align: right;
    margin-top: 0.5rem;
    padding: 0.3rem 0.8rem;
    border-radius: 4px;
  }
  &.dropdown {
    display: flex;
    padding: 0.3rem 0;
  }
}

@media (min-width: 600px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
  }
  #left-nav {
    div {
      margin: 0;
    }
  }
  #dropdown-button {
    display: none;
  }
  #right-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    div {
      margin: 0;
    }
  }
}

@media (min-width: 700px) {
  #left-nav {
    div {
      background-color: $nav-light-background-color;
    }
  }
  #right-nav {
    div {
      background-color: $nav-light-background-color;
    }
  }
}

@media (min-width: 800px) {
  nav {
    font-size: 1.1rem;
    #right-nav {
      width: 38%;
    }
  }
}
// Underline -------------
#underline {
  display: none;
}

@media (min-width: 1000px) {
  #underline {
    display: block;
    width: 12rem;
    height: 2px;
    background-color: $text-dark;
    position: sticky;
    // display:
    top: 2.6rem;
    left: 7.3rem;
    z-index: 600;
  }
}
// --------------------------------------------
//
// INTRO-SECTION
#intro-section {
  background-color: #dde9e7;
  position: relative;
  height: 580px;
}

@media (min-width: 700px) {
  #intro-section {
    background-color: $background-white;
    height: 500px;
  }
}

@media (min-width: 1000px) {
  #intro-section {
    padding-top: 0;
    height: 580px;
  }
}

// Duo container -------------
#duo-container {
  display: none;
  padding: 0;

  #gray-duo {
    background-color: $background-light-gray;
    width: 50%;
  }
  #blue-duo {
    background-color: $background-blue;
    width: 50%;
  }
}
@media (min-width: 700px) {
  #duo-container {
    position: absolute;
    bottom: 2rem;
    right: 0;

    display: flex;
    flex-direction: row;

    height: 380px;
    width: 100vw;
    max-width: 750px;
  }
}
@media (min-width: 1000px) {
  #duo-container {
    height: 420px;
    max-width: 890px;
  }
}

// Trees----------------------------------
#trees {
  background-image: url("../images/treesS.png");
  background-size: 300px 460px;
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  width: 300px;
  height: 460px;
}
@media (min-width: 500px) {
  #trees {
    right: 1rem;
  }
}

@media (min-width: 700px) {
  #trees {
    background-size: 350px 466px;
    width: 350px;
    height: 466px;
    right: 0.3rem;
  }
}

@media (min-width: 1000px) {
  #trees {
    background-size: 400px 548px;
    width: 400px;
    height: 548px;
    // right: 0.3rem;
  }
}
// INTRO CONTAINER  and H2s / INTRO SECTION ---------------
#outside-h2 {
  display: none;
}
#intro-container {
  background-color: $opaque-white;
  position: absolute;

  padding: 1rem;

  right: 1rem;
  bottom: 120px;
  left: 1rem;

  border-radius: 4px;
  h2 {
    padding: 1rem;
    padding-bottom: 0.5rem;
    line-height: 1.5rem;
    padding-top: 1.3rem;
  }
  p {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  #focus-button {
    background-color: $background-gray;
    color: $button-text-white;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    // margin-bottom: 1rem;
  }
}

@media (min-width: 400px) {
  #intro-container {
    margin-left: 1.5rem;
    padding: 1.5rem;
    h2 {
      font-size: 1.8rem;
      line-height: 1.8rem;
    }
  }
}
@media (min-width: 500px) {
  #intro-container {
    left: 2rem;
    margin-left: auto;
    right: auto;
    padding: 1.5rem;
    margin-right: 2rem;
  }
}
@media (min-width: 600px) {
  #intro-container {
    width: 400px;
    margin-left: auto;
    right: 2rem;
    margin-right: 0;
  }
}

@media (min-width: 700px) {
  #outside-h2 {
    display: block;
    position: absolute;
    width: 20rem;
    top: 126px;
    right: 21rem;
    line-height: 1.9rem;
    font-size: 2rem;
    color: #2a3031;
  }

  #intro-container {
    width: 400px;
    background-color: #f2f2f2;
    right: 16rem;
    bottom: 4rem;
    padding: 1rem;
    left: auto;
    #inside-h2 {
      display: none;
    }
    button {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1000px) {
  #outside-h2 {
    width: 40rem;
    top: 11rem;
    right: 10rem;
    font-size: 2.7rem;
    color: #2a3031;
  }

  #intro-container {
    font-size: 1.2rem;
    width: 450px;
    right: 22rem;
    padding: 1.3rem;
    button {
      font-size: 1.2rem;
    }
  }
  // }
}
// FOX / INTRO SECTION ---------------

#fox {
  position: absolute;
  bottom: -22px;
  right: 0;
  width: 200px;
  height: 189px;
  z-index: 2;
}

@media (min-width: 380px) {
  #fox {
    bottom: -15px;
    right: 20px;
  }
}

@media (min-width: 700px) {
  #fox {
    bottom: -4px;
  }
}

@media (min-width: 1000px) {
  #fox {
    width: 300px;
    height: 294px;
    bottom: -1.8rem;
  }
}

// ------------------------------------------------------------
// ------------------------------------------------------------

// ------------------------------------------------------------
// ------------------------------------------------------------
// PROMPT SECTION
#prompt-section {
  background-color: $background-bluish-gray;
  position: relative;
  min-height: 28rem;
  // padding-top: 12rem;
}
@media (min-width: 300px) {
  #prompt-section {
    min-height: 25rem;
  }
}
@media (min-width: 400px) {
  #prompt-section {
    min-height: 20rem;
  }
}
@media (min-width: 700px) {
  #prompt-section {
    min-height: 30rem;
    background-color: $background-white;
  }
}
@media (min-width: 1000px) {
  #prompt-section {
    min-height: 33rem;
  }
}

#positioner {
  height: 1rem;
  display: block;
}
// Bear----------------
#bear {
  background-image: url("../images/bear.png");
  background-size: 200px 205px;
  position: absolute;
  top: -40px;
  left: 10px;
  width: 200px;
  height: 205px;
}

#bear-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  // background-color: white;
  width: 190px;
  height: 170px;
}

@media (min-width: 380px) {
  #bear {
    left: 3rem;
  }
}
@media (min-width: 500px) {
  #bear {
    left: 4rem;
  }
}

@media (min-width: 700px) {
  #bear {
    top: 2rem;
    background-size: 300px 305px;
    width: 300px;
    height: 305px;
    left: 10%;
  }
  #bear-button {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 1000px) {
  #bear {
    top: 3rem;
    background-size: 400px 405px;
    width: 400px;
    height: 405px;
    left: 15%;
  }
  #bear-button {
    width: 400px;
    height: 400px;
  }
}

// Cloud1------------------------
#cloud1 {
  width: 200px;
  margin-right: 4rem;
  margin-left: auto;
  // margin-top: -3rem;
  display: none;
}

@media (min-width: 900px) {
  #cloud1 {
    display: block;
    margin-right: 8rem;
    margin-top: 1rem;
  }
}

#mushrooms {
  width: 75px;
  margin-left: auto;
  position: absolute;
  top: 5rem;
  right: 4rem;
}
@media (min-width: 380px) {
  #mushrooms {
    top: 9rem;
    left: 7rem;
    right: auto;
  }
}
@media (min-width: 500px) {
  #mushrooms {
    left: 9rem;
  }
}

@media (min-width: 700px) {
  #mushrooms {
    left: 25%;
    top: 17rem;
  }
}
@media (min-width: 1000px) {
  #mushrooms {
    width: 100px;
    left: 35%;
    top: 25rem;
  }
}

//
// Suggestion Box -------------------------
#suggestion-box {
  // border: 12px solid #dde9e7;
  // border: 12px solid #dde9e5;
  // border: 12px solid #dde9e2;
  border: 12px solid #dee7e4;

  border-radius: 4px;
  background-color: #faf8fd;

  margin-left: 2rem;
  margin-right: 1rem;
  margin-top: 10rem;

  padding: 0.8rem;
  position: static;
  display: block;
}
@media (min-width: 380px) {
  #suggestion-box {
    width: 44%;
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 2.5rem;
  }
}
@media (min-width: 500px) {
  #suggestion-box {
    margin-right: 9%;
    width: 46%;
  }
}
@media (min-width: 700px) {
  #suggestion-box {
    margin-top: 8rem;
  }
}
@media (min-width: 900px) {
  #suggestion-box {
    margin-top: 3.5rem;
    margin-left: 45%;
    width: 350px;
    font-size: 1.2rem;
  }
}

// ------------------------------------------------------------
// ------------------------------------------------------------

// ------------------------------------------------------------
// ------------------------------------------------------------
// Journal Section
#journal-section {
  background-color: $background-white;

  position: relative;
  min-height: 60rem;
  padding-top: 4rem;
}

#cloud2 {
  width: 200px;
  position: absolute;
  top: 4rem;
  right: 10%;
  display: none;
}
#rabbit {
  width: 200px;
  position: absolute;
  top: 23rem;
  right: 20%;
  display: none;
}
@media (min-width: 800px) {
  #cloud2,
  #rabbit {
    display: inherit;
  }
}
#journal-wrapper {
  background-image: url("../images/paperS.png");
  background-size: 93vw 26rem;
  background-repeat: no-repeat;

  margin: 1rem;
  margin-left: 0.5rem;
  padding: 1.5rem;

  width: 94vw;
  height: 27rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 380px) {
  #journal-wrapper {
    background-size: 307px 432px;
    width: 310px;
    height: 436px;
    padding: 2rem;
    padding-bottom: 1rem;
    margin-left: 15%;
  }
}
@media (min-width: 500px) {
  #journal-wrapper {
    margin-left: 25%;
  }
}
@media (min-width: 800px) {
  #journal-wrapper {
    margin-left: 15%;
  }
}

@media (min-width: 1000px) {
  #journal-wrapper {
    background-size: 390px 522px;
    width: 392px;
    height: 525px;
    padding: 2rem;
    padding-bottom: 1rem;
    margin-left: 15%;
  }
}
#journal-form {
  height: 85%;
  width: 90%;
}
h3 {
  color: $text-medium;
  font-size: 2rem;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  // padding-top: 1rem;

  button {
    background-color: $background-gray;
    color: $button-text-white;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}

#journal-input {
  padding: 1rem;
  font-size: 0.8rem;
  width: 90%;
  height: 80%;
  resize: none;

  outline: none !important;
  border: none;
  &:focus {
    outline: none !important;
    border: 1px solid $background-gray;
    box-shadow: 0 0 10px #719ece;
  }
}
@media (min-width: 380px) {
  #journal-input {
    font-size: 1rem;
  }
}

#link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("../images/notens.png");
  background-size: 90vw 14rem;
  background-repeat: no-repeat;

  width: 90vw;
  height: 14rem;
  border-radius: 4px;

  margin-left: 01rem;
  &.hidden {
    display: none;
  }
}
@media (min-width: 380px) {
  #link-container {
    background-size: 290px 14rem;
    width: 290px;
    padding: 1rem;
    padding: 1.5rem;
    margin-left: 18%;
  }
}
@media (min-width: 500px) {
  #link-container {
    margin-left: 25%;
  }
}

@media (min-width: 800px) {
  #link-container {
    margin-left: 18%;
  }
}

@media (min-width: 1000px) {
  #link-container {
    background-size: 350px 16rem;
    width: 355px;
    height: 16rem;
    padding: 1.5rem;
    font-size: 1.1rem;
  }
}
#link-description {
  width: 8rem;
}
#link-to-share {
  outline: none !important;
  border: none;
  width: 8rem;
  margin: 0.5rem;
  &:focus {
    outline: none !important;
    border: 1px solid $background-gray;
    box-shadow: 0 0 10px #719ece;
  }
}

#message-hyperlink {
  text-align: center;
  text-decoration: none;
  background-color: $background-gray;
  color: $button-text-white;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  border: none;
  width: 8rem;
  display: block;
  border-radius: 5px;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8rem;
}
@media (min-width: 1000px) {
  #link-description {
    font-size: 1.2rem;
    width: 10rem;
  }
  #link-to-share {
    width: 10rem;
    margin: 1rem;
    padding: 0.2rem;
  }
  #message-hyperlink {
    width: 10rem;
    font-size: 1rem;
  }
}
// ----------------------------------------------------
